*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu Condensed', sans-serif;
}

body {
  background-color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 50px;
  border-bottom: 1px solid white;
}

header select {
  padding: 5px;
}

#logo {
  width: 200px;
}

.search i {
  color: white;
  cursor: pointer;
  font-size: 1.5em;
  margin-left: 10px;
}

.search i:hover {
  transform: scale(1.1);
  transition: .2s;
}

.search input {
  padding: 5px;
  border-radius: 10px;
  font-size: 1.3em;
  margin: 0 5px;
  width: 250px;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 250px;
  height: 400px;
  margin: 20px;
  border: 1px solid white;
}

.movie:hover .image {
  opacity: .1;
  transition: .2s;
}

.movie:hover .description {
  display: block;
}

.image {
  position: absolute;
  width: 250px;
  height: 400px;
}

.poster {
  width: 100%;
  height: 100%;
}

.description {
  cursor: pointer;
  position: absolute;
  padding: 20px;
  display: none;
  width: 250px;
  height: 400px;
  color: white;
  overflow-y: auto;
}

.description i {
  color: gold;
}

.description p {
  font-size: 0.8em;
}

#genres-list {
  list-style: none;
}

.genres {
  margin: 10px 0;
}

#cast-button {
  margin: 10px 0 5px 0;
}

#cast-list {
  list-style: none;
}

#cast-list i {
  margin-right: 5px;
}

.rating {
  display: flex;
  margin-bottom: 5px;
}

.flag {
  width: 50px;
  margin: 10px 0;
}
