<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Boolflix</title>
  </head>
  <body>

    <div id="root">

      <header>

        <img id="logo" src="img/logo.png" alt="logo">

        <div class="search">
          <input v-model="userSearch" @keyup.enter="search" placeholder="Search movie">
          <i class="fa fa-search" @click="search"></i>
        </div>

      </header>

      <div class="movies-container">

        <div class="movie" v-for="item in all">

          <div class="image">
            <img class="poster" v-if="item.poster_path" :src="'https://image.tmdb.org/t/p/w185' + item.poster_path" alt="">
            <img class="poster" v-else src="https://www.altavod.com/assets/images/poster-placeholder.png">
          </div>

          <div class="description" @mouseleave="resetArray()">
            <h3 v-if="item.title">Title: {{item.title}}</h3>
            <h3 v-if="item.name">Title: {{item.name}}</h3>
            <h4 v-if="item.original_title">Original title: {{item.original_title}}</h4>
            <h4 v-if="item.original_name">Original title: {{item.original_name}}</h4>
            <img class="flag" v-if="languageFlags.includes(item.original_language)" :src="'img/flags/' + item.original_language + '.gif'">
            <span v-else>{{item.original_language}}</span>
            <div class="rating">
              <span><strong>Rating: </strong></span>
              <i class="fa fa-star" v-for="item in getVote(item.vote_average)"></i>
              <i class="fa fa-star-o" v-for="item in (5 - getVote(item.vote_average))"></i>
            </div>
            <p><strong>Overview:</strong><br>{{item.overview}}</p>
            <div class="genres">
              <span @click="getGenres"><strong>Genres: </strong></span>
              <ul id="genres-list">
                <li v-for="genre in genres" v-if="item.genre_ids.includes(genre.id)">{{genre.name}}</li>
              </ul>
            </div>
            <button id="cast-button" @click="getCast(item.id)">{{buttonName}}</button>
            <ul id="cast-list">
              <li v-for="item in cast"><i class="fa fa-angle-right" aria-hidden="true"></i>{{item}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
