<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title></title>
  </head>
  <body>

    <div id="root">
      <h1>Boolflix</h1>
      <div class="search">
        <input v-model="userSearch" @keyup.enter="searchMovies" placeholder="Search movie">
        <button @click="searchMovies">Search</button>
      </div>
      <div class="movies-container">
        <div class="movie" v-for="movie in movies">
          <ul>
            <li>Titolo:<br>{{movie.title}}</li>
            <li>Titolo originale:<br>{{movie.original_title}}</li>
            <li>Lingua originale:<br>{{movie.original_language}}</li>
            <li>Voto medio:<br>{{movie.vote_average}}</li>
          </ul>
        </div>
      </div>
    </div>

    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
